<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<style>
    body{
        padding: 0;
        margin: 0;
    }
</style>
<body>
<div class="m-3">
    <button type="button" class="btn btn-primary">
        <a href="/login" style="color: white">login</a>
    </button>
    <button type="button" class="btn btn-primary">
        <a href="/signup" style="color: white">signup</a>
    </button>
</div>
</body>
</html>
